@import '@/assets/styles/variables';

.select {
	margin-left: 55px;
	position: relative;
	> .name {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background-color: transparent;
		margin-bottom: 15px;

		> span {
			font-size: 16px;
			opacity: 0.4;
			border-bottom: 1px solid $black;
			-webkit-transition: opacity 0.2s ease;
			-o-transition: opacity 0.2s ease;
			transition: opacity 0.2s ease;
		}

		&:hover > span {
			opacity: 0.7;
		}

		> img {
			width: 16px;
			height: 12px;
			border-radius: 0;
			margin-left: 10px;
			margin-top: 5px;
			-webkit-animation: rotate-second-half 0.4s ease-in-out;
			animation: rotate-second-half 0.4s ease-in-out;

			&.active {
				-webkit-animation: rotate-first-half 0.4s ease-in-out;
				animation: rotate-first-half 0.4s ease-in-out;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
		}
	}

	> ul {
		display: none;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;

		background-color: $white;
		-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;

		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;

		&.active {
			display: block;
		}

		> li {
			-webkit-transition: background-color 0.2s ease;
			-o-transition: background-color 0.2s ease;
			transition: background-color 0.2s ease;
			position: relative;

			&:first-child {
				border-radius: 5px 5px 0 0;
			}

			&:last-child {
				border-radius: 0 0 5px 5px;
			}

			&:hover {
				background-color: darken($white, 20%);
			}

			> a {
				display: -webkit-inline-box;
				display: -ms-inline-flexbox;
				display: inline-flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				width: 100%;
				padding: 5px 31px 5px 0;

				font-size: 16px;
				color: rgba($black, 0.4);
				text-decoration: none;
				-webkit-transition: color 0.2s ease;
				-o-transition: color 0.2s ease;
				transition: color 0.2s ease;
				cursor: pointer;

				&:hover {
					color: rgba($black, 0.7);
				}

				> img {
					visibility: hidden;
					width: 15px;
					height: 15px;
					margin: 0 8px;
				}
			}
		}
	}
}

@-webkit-keyframes rotate-first-half {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	to {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

@keyframes rotate-first-half {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	to {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

@-webkit-keyframes rotate-second-half {
	from {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotate-second-half {
	from {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
