@import '@/assets/styles/variables';

.select {
	margin-left: 55px;
	position: relative;
	> .name {
		display: flex;
		align-items: center;
		cursor: pointer;
		margin-bottom: 15px;

		> span {
			font-size: 16px;
			opacity: 0.4;
			border-bottom: 1px solid $black;
			transition: opacity 0.2s ease;

			&:hover {
				opacity: 0.7;
			}
		}

		> img {
			animation: rotate-second-half 0.4s ease-in-out;
			width: 16px;
			height: 12px;
			border-radius: 0;
			margin-left: 10px;
			margin-top: 5px;

			&.active {
				animation: rotate-first-half 0.4s ease-in-out;
				animation-fill-mode: both;
			}
		}
	}

	> ul {
		display: none;
		width: max-content;

		background-color: $white;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;

		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;

		&.active {
			display: block;
		}

		> li {
			transition: background-color 0.2s ease;
			position: relative;

			&:first-child {
				border-radius: 5px 5px 0 0;
			}

			&:last-child {
				border-radius: 0 0 5px 5px;
			}

			&:hover {
				background-color: darken($white, 20%);
			}

			> a {
				display: inline-flex;
				align-items: center;
				width: 100%;
				padding: 5px 31px 5px 0;

				font-size: 16px;
				color: rgba($black, 0.4);
				text-decoration: none;
				transition: color 0.2s ease;
				cursor: pointer;

				&:hover {
					color: rgba($black, 0.7);
				}

				> img {
					visibility: hidden;
					width: 15px;
					height: 15px;
					margin: 0 8px;
				}
			}
		}
	}
}

@keyframes rotate-first-half {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(180deg);
	}
}

@keyframes rotate-second-half {
	from {
		transform: rotate(180deg);
	}

	to {
		transform: rotate(360deg);
	}
}
