@import '@/assets/styles/variables';

.comment_panel {
    display: flex;

    > div:first-child {
        font-weight: 500;
        border-bottom: 3px solid $black;
        padding-bottom: 5px;

        > span {
            margin-left: 13px;
            font-size: 20px;
            opacity: .4;
        }
    }
}