@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.form {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	padding-top: 37px;
	padding-left: 91px;
	position: relative;

	> textarea {
		margin-right: 30px;

		& ~ div:not(div:last-child) {
			display: flex;
			align-self: flex-start;
			flex-grow: 1;
		}
	}

	> div:last-child {
		display: flex;

		position: absolute;
		top: 0;
		right: 0;

		font-size: 14px;
		color: rgba($black, 0.4);
		letter-spacing: 0.3px;

		> p:first-child {
			margin-right: 30px;
			font-style: italic;
		}

		> p:last-child {
			visibility: hidden;
			color: $red;
		}
	}

	@media (max-width: 970px) {
		@include media-form;
	}

	@media (max-width: 560px) {
		flex-direction: column;
		padding: 0;
		align-items: flex-start;

		> div:first-child {
			align-items: center;
			padding-bottom: 20px;

			> img {
				position: relative;
			}

			> p {
				position: relative;
			}
		}
	}
}
