@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.form {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	padding-top: 37px;
	padding-left: 91px;
	position: relative;

	> .button_wrapper {
		align-self: flex-start;
	}

	@media (max-width: 970px) {
		@include media-form;
	}

	@media (max-width: 730px) {
		flex-direction: column;
		padding: 0;
		align-items: flex-start;

		> div:first-child {
			align-items: center;

			> img {
				position: static;
			}

			> p {
				position: static;
			}
		}

		> div:last-child {
			margin-top: 10px;
		}
	}

	@media (max-width: 560px) {
		> .button_wrapper {
			width: 100%;

			> button {
				width: 100%;
			}
		}
	}
}
