@import './reset';
@import './variables';

*,
*::before,
*:after {
	box-sizing: border-box;
}

body {
	font: 400 normal 18px/1.4 $default-font;
	color: $black;
}

img {
	width: 61px;
	height: 61px;
	border-radius: 50%;
}
